<%= form_with(model: eleitore) do |form| %>
  <% if eleitore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(eleitore.errors.count, "error") %> prohibited this eleitore from being saved:</h2>

      <ul>
        <% eleitore.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :string, %>
    <%= form.text_field :string, %>
  </div>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :string %>
    <%= form.text_field :string %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
